# Django #
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# If you are using PyCharm #
.idea/

# If you are using virtualenv #
venv/
env/
ENV/
.venv/
.env

# If you are using macOS #
.DS_Store

# If you are using Linux #
*.swp
